footer {
    background-color: #ffe8b4;
}

#footer .footer-itens {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

.copyright {
    color: #1d1d1d;
    font-weight: 500;
    font-size: 15px
}

@media screen and (max-width: 600px) {
    #footer .footer-itens {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}