#testimonials {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 48px;
}

#testimonials-chef {
    width: 500px;
    height: auto;
}

#testimonials .section-subtitle {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

#testimonials-content {
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.feedbacks {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

#feedbacks .feedbacks img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedbacks .feedback-content h4 {
    display: flex;
    justify-content: space-between;
    margin: 12px;

}

.feedbacks .feedback-content span {
    color: #e9a209;
    justify-items: right;
}

@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials .section-subtitle {
        text-align: center;
        font-size: 1.5rem;
    }

    #testimonials-content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .feedbacks {
        flex-direction: column;
    }

    #testimonials-content {
        width: 100%;
    }
}